<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo-Vue</title>
    <link rel="stylesheet" href="../assets/style.css" />
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
  </head>

  <body>
    <main id="app" class="card" v-cloak>
      <h2 class="center">Notes - Vue</h2>
      <form id="form" @submit.prevent="inputHandle">
        <input type="text" autofocus v-model="note" placeholder="写点什么..." />
        <p class="hint">一共 {{ notes.length }} 件事情</p>
      </form>
      <div class="tab">
        <div
          class="tab-item"
          :class="{active:status === item.value}"
          v-for="(item,index) in tabs"
          @click="tabHandle(item)"
        >
          {{ item.label }}
        </div>
      </div>
      <div class="tab-container">
        <ol>
          <li v-for="item in list">
            <span
              class="content"
              :class="{del:item.finished}"
              @click="rowClickHandle(item)"
              >{{ item.content }}</span
            >
            <span class="btn" @click="delClickHandle(item.id)">删除</span>
          </li>
        </ol>
      </div>
    </main>

    <script src="../assets/data.js"></script>
    <script src="./todo.js"></script>
  </body>
</html>
