* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
[v-cloak] {
  display: none;
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

body {
  font-family: '14px ' Helvetica Neue ', Helvetica, Arial, sans-serif';
  background-color: #f5f5f5;
  color: #4d4d4d;
}

.info {
  width: 500px;
  margin: 45px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 800;
}

#app {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style: decimal inside;
}

li {
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

.hint {
  color: #8590a6;
  font-size: 12px;
  margin: 0;
}

form {
  margin-bottom: 15px;
}

input {
  appearance: none;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.tab {
  overflow: hidden;
  margin-bottom: 10px;
}

.tab > .tab-item {
  display: inline-block;
  color: #8590a6;
  cursor: pointer;
  padding: 2px 5px;
}

.tab > .tab-item:hover {
  color: #444;
  text-decoration: underline;
}

.tab > .tab-item.active {
  color: #444;
}

.tab-container {
  font-size: 18px;
  max-height: 350px;
  overflow-y: auto;
}
.tab-container ol li {
  position: relative;
}

.tab-container ol li:hover .btn {
  display: inline-block;
}

.btn,
.content {
  cursor: pointer;
}

.btn {
  font-size: 13px;
  color: #8590a6;
  display: none;
  position: absolute;
  right: 10px;
  top: 2px;
}

.btn:hover {
  color: #444;
}

.del {
  text-decoration: line-through;
}

.card {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  padding: 0px 15px 15px;
  width: 500px;
  margin: auto;
}

.item-blue,
.item-green {
  padding: 5px;
}

.item-red {
  outline: 3px dashed orangered;
}

.item-blue {
  outline: 3px dashed royalblue;
}

.item-green {
  outline: 3px dashed forestgreen;
}
